<div th:fragment="footer" class="container-fluid">
    <div class="row">
        <div class="col-12 bg-dark">
            <div class="container">
                <div class="row pt-5">
                    <div class="col"></div>
                    <div class="col-3">
                        <p class="text-light font-weight-bold">The Good Car</p>
                        <p class="text-light">Taste the highway, enjoy the power. Feel free to check more reasons for becoming our client and having a hassle-free buying experience.</p>
                        <div class="d-flex flex-row">
                            <div class="p-2"><i class="fab fa-twitter-square text-light"
                                                style="font-size:38px;"></i>
                            </div>
                            <div class="p-2"><i class="fab fa-facebook-square text-light"
                                                style="font-size:38px;"></i>
                            </div>
                            <div class="p-2"><i class="fab fa-instagram-square text-light"
                                                style="font-size:38px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                    <div class="col-3">
                        <p class="text-light"><strong>Open Hours</strong></p>
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row justify-content-between">
                                <div class="text-light">Lunes</div>
                                <div class="text-light">9:00-21:00</div>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <div class="text-light">Martes</div>
                                <div class="text-light">9:00-21:00</div>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <div class="text-light">Miércoles</div>
                                <div class="text-light">9:00-21:00</div>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <div class="text-light">Jueves</div>
                                <div class="text-light">9:00-21:00</div>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <div class="text-light">Viernes</div>
                                <div class="text-light">9:00-21:00</div>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <div class="text-light">Sábado</div>
                                <div class="text-light">9:00-21:00</div>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
                <hr class="my-4">

                <div class="row mb-4">
                    <div class="col text-center text-secondary">
                        Pagina desarrollada por Juan Manuel, día 01/06/2020
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>